<a href="https://colab.research.google.com/github/osullik/ic23050/blob/main/DataDictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [360]:
from google.colab import drive
import pandas as pd
import json
from collections import defaultdict

In [361]:
DD = pd.ExcelFile("https://github.com/osullik/ic23050/blob/main/L4%20Washington%20Fatal%20Crash%20Files%20-%20Washington%20Traffic%20Safety%20Commission/DataDictionary_Washington%20Fatal%20Crash%20Files.xlsx?raw=true")

In [3]:
for sheet in DD.sheet_names:
  print(sheet)

ReadMe
CRASH Data Files
PERSON Data Files
Tables1
Tables2
Tables3
Tables4
Tables5
Tables6
Tables7
Tables8
Tables9

In [362]:
#Seperate out each sheet in the data dictionary 
ReadMe = pd.read_excel(DD, 'ReadMe')
CrashDataFiles = pd.read_excel(DD, 'CRASH Data Files')
PersonDataFiles = pd.read_excel(DD, 'PERSON Data Files')
#Tables1 = pd.read_excel(DD, 'Tables1')
#Tables2 = pd.read_excel(DD, 'Tables2')
#Tables3 = pd.read_excel(DD, 'Tables3')
#Tables4 = pd.read_excel(DD, 'Tables4')
#Tables5 = pd.read_excel(DD, 'Tables5')
#Tables6 = pd.read_excel(DD, 'Tables6')
#Tables7 = pd.read_excel(DD, 'Tables7')
#Tables8 = pd.read_excel(DD, 'Tables8')
Tables9 = pd.read_excel(DD, 'Tables9')

In [363]:
'''
getKVPairs is a function to extract KV Pairs from dirty excel data
  Input Args:
    desc: a String "description" of the values we want to extract. Should 
      include target KV pairs in the form KEY=VALUE where KEY is a number and 
      VALUE are non-numeric substrings. 
  Method: 
    Break the string into characters
    Accumulate numeric values until an "=" is seen. The "=" is an assignment  
      we infer the numbers prior are the key and this is appended to keyList
    Accumulate characters until either EOF or another numerical value is found
      we infer all strings between keys are their associated values. 
    
    Before appending a value to the definition list, remove newline and 
      truncate spaces

    Zip the KeyList and DefinitionList together, and return

  Returns:
    A list of Tuples in the form [(Key, Value)]

'''
def getKVPairs(desc):
                                                #Init Vars
  number = ""
  definition = ""
  keyList = []
  definitionList = []
  keyFound = False
  isComment = False
  isDefinition = False
                                                #Filter out non-strings
  if type(desc) == str:
    
    for char in desc:
     
      if char == ")":                           #Drops comments like "(Since 2010)"
        isComment = False
        continue
      elif char == "(":
        isComment = True
        continue

      if isComment == True:
        continue 
      else:
        if char.isnumeric() == True:  #Build the Keys

          if keyFound == True:
            definition = definition.strip("\n")
            definition = definition.strip()
            definitionList.append(definition)
            definition = ""
            keyFound = False
            number += char

          else:                                   #Build the Values
            number += char

        elif char == ("="):                       #Commit the Key
          keyList.append(number)
          number = ""
          keyFound = True

        else:                                     #Build the value
          definition += char 

    else:
      pass
      
                                                  #Add the last Definition
      definition = definition.strip("\n")
      definition = definition.strip()
      definitionList.append(definition)

  toReturn = list(zip(keyList,definitionList))  #Create a list of (K,V) Tuples

  return(toReturn)

In [364]:
'''
getKVPairsSpaceDelimited is a function to extract KV Pairs from dirty excel data
  when there is a lack of delimiting "=" to seperate the Keys and Values
  Input Args:
    desc: a String "description" of the values we want to extract. Should 
      include target KV pairs in the form "KEY VALUE" where KEY is a number and 
      VALUE are non-numeric substrings. 
  Method: 
    Break the string into characters
    Accumulate numeric values until an " " is seen aftera number. 
      we infer the numbers prior to the space are the key and this is appended 
      to keyList
    Accumulate characters until either EOF or another numerical value is found
      we infer all strings between keys are their associated values. 
    
    Before appending a value to the definition list, remove newline and 
      truncate spaces

    Zip the KeyList and DefinitionList together, and return

  Returns:
    A list of Tuples in the form [(Key, Value)]

'''

def getKVPairsSpaceDelimited(desc):

                                                #Init Vars
  number = ""
  definition = ""
  keyList = []
  definitionList = []
  keyFound = False
  lastCharNumeric = False
                                                #Filter out non-strings
  if type(desc) == str:
    for char in desc:

      #print("Char=", char, "LastCharNumeric:",lastCharNumeric)
      
      if char.isnumeric() == True:              #Build the Keys
        if keyFound == True:
          definition = definition.strip("\n")
          definition = definition.strip()
          definitionList.append(definition)
          definition = ""
          keyFound = False
          number += char

        else:                                   #Build the Values
          number += char
          lastCharNumeric = True


      elif char == (" ") and lastCharNumeric == True and number != "":    #Commit the Key
        keyList.append(number)                                            
        number = ""
        keyFound = True
        lastCharNumeric == False

      else:                                     #Build the value
        definition += char 
    else:
      pass
                                                #Add the last Definition
    definition = definition.strip("\n")
    definition = definition.strip()
    definitionList.append(definition)

  toReturn = list(zip(keyList,definitionList))  #Create a list of (K,V) Tuples
  return(toReturn)

In [16]:
#Parse the CrashDataFile into JSON
dataDict = defaultdict(dict)                    #Build the Data Dictionary

for idx, series in CrashDataFiles.iterrows():  #Step through each var in turn
  var = series['VARIABLE']                      #The loop extracts one record
  typ = series['TYPE']                          #And then selects relevant cells
  length = series['LENGTH']                     #The cells get passed to the 
  format = series['FORMAT']                     #getKVPairs() function below
  label = series['LABEL']
  desc = series['DESCRIPTION/COMMENT']

                                                #Populate the Data Dictionary
  dataDict[var]["TYPE"]     = typ
  dataDict[var]["LENGTH"]   = length 
  dataDict[var]["FORMAT"]   = format 
  dataDict[var]["LABEL"]    = label 

  kvPairList = getKVPairs(desc)                 #Get list (K,V) tuples for DATA

  dataDict[var]["DATA"]    = dict(kvPairList)

In [7]:
#Create JSON object out of CrashFileData
json_CrashDataFile = json.dumps(dataDict, indent = 4)

In [8]:
#Parse the PersonDataFile into JSON
dataDict_PersonData = defaultdict(dict)                    #Build the Data Dictionary

print(PersonDataFiles.columns)

for idx, series in PersonDataFiles.iterrows():   #Step through each var in turn
  var = series['VARIABLE']
  typ = series['TYPE']
  length = series['LENGTH']
  format = series['FORMAT']
  label = series['LABEL']
  desc = series['DESCRIPTION/COMMENT']

                                                #Populate the Data Dictionary
  dataDict_PersonData[var]["TYPE"]     = typ
  dataDict_PersonData[var]["LENGTH"]   = length 
  dataDict_PersonData[var]["FORMAT"]   = format 
  dataDict_PersonData[var]["LABEL"]    = label 

  kvPairList = getKVPairs(desc)                 #Get list (K,V) tuples for DATA

  dataDict_PersonData[var]["DATA"]    = dict(kvPairList)

Index(['Unnamed: 0', 'VARIABLE', 'TYPE', 'LENGTH', 'FORMAT', 'LABEL',
       'DESCRIPTION/COMMENT', 'Notes / SAS Code', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [9]:
#Create JSON object out of PersonFileData
json_PersonDataFile = json.dumps(dataDict_PersonData, indent = 4)

In [10]:
#Extract the messy table data from the TABLES1 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables1_county = pd.read_excel(DD, 'Tables1', skiprows = 1, nrows=40,
                               usecols= 'A')
Tables1_harmfulEvent = pd.read_excel(DD, 'Tables1', skiprows = 1, nrows=40,  
                                     usecols= 'B,D')
Tables1_trafficControl = pd.read_excel(DD, 'Tables1', skiprows = 42, nrows=20,  
                                       usecols= 'A,D')
Tables1_seatingPosition = pd.read_excel(DD, 'Tables1', skiprows = 0, nrows=31,  
                                        usecols= 'E')

In [51]:
#Parse out the County Numbering System
dataDict_Table1 = defaultdict(dict)                    #Build the Data Dictionary

#print(Tables1_county.columns)
dataDict_Table1["County_Name"]["DATA"] = {}

for idx, series in Tables1_county.iterrows():   #Step through each var in turn
  
  desc = series['county_char']

  kvPairList = getKVPairs(desc)                 #Get list (K,V) tuples for DATA
  kvPairTuple = tuple(kvPairList[0])

  dataDict_Table1["County_Name"]["DATA"][kvPairTuple[0]] = kvPairTuple[1]

In [12]:
#Parse out the Harmful Event Data from Table1

dataDict_Table1["Harmful_Event"]["DATA"] = {}

for idx, series in Tables1_harmfulEvent.iterrows():   #Step through each var in turn
  
  desc1 = series['Non-Collision']
  desc2 = series['Unnamed: 3']

  kvPairList1 = getKVPairs(desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairs(desc2)


  #Following try/catch statements account for misalignment of columns in 
  #input data
  try:                                            #Transform into tuples
    kvPairTuple1 = tuple(kvPairList1[0])
  except IndexError:
    pass

  try:
    kvPairTuple2 = tuple(kvPairList2[0])
  except IndexError:
    pass

  try:                                           #Update the Dicts
    dataDict_Table1["Harmful_Event"]["DATA"][kvPairTuple1[0]] = kvPairTuple1[1]
  except NameError:
    pass
  try:
    dataDict_Table1["Harmful_Event"]["DATA"][kvPairTuple2[0]] = kvPairTuple2[1]
  except NameError:
    pass

In [13]:
#Parse out the Traffic Control Data from Table1

dataDict_Table1["Traffic_Control"]["DATA"] = {}

for idx, series in Tables1_trafficControl.iterrows():   #Step through each var in turn
  
  desc1 = series['TRAFFIC CONTROL DEVICE']
  desc2 = series['Unnamed: 3']

  kvPairList1 = getKVPairs(desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairs(desc2)

  #Following try/catch statements account for misalignment of columns in 
  #input data
  try:                                            #Transform into tuples
    kvPairTuple1 = tuple(kvPairList1[0])
  except IndexError:
    pass

  try:
    kvPairTuple2 = tuple(kvPairList2[0])
  except IndexError:
    pass

  try:                                           #Update the Dicts
    dataDict_Table1["Traffic_Control"]["DATA"][kvPairTuple1[0]] = kvPairTuple1[1]
  except NameError:
    pass
  try:
    dataDict_Table1["Traffic_Control"]["DATA"][kvPairTuple2[0]] = kvPairTuple2[1]
  except NameError:
    pass

In [14]:
#Parse out the Seating Positions
dataDict_Table1["Seating_Position"]["DATA"] = {}

for idx, series in Tables1_seatingPosition.iterrows():   #Step through each var in turn
  
  desc = series['SEATING POSITION']

  kvPairList = getKVPairs(desc)                 #Get list (K,V) tuples for DATA
  try:
    kvPairTuple = tuple(kvPairList[0])
    dataDict_Table1["Seating_Position"]["DATA"][kvPairTuple[0]] = kvPairTuple[1]
  except IndexError:
    pass

In [15]:
#Create a JSON object of the Table1 Data
json_Table1 = json.dumps(dataDict_Table1, indent = 4)

In [121]:
#Extract the messy table data from the TABLES2 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables2_driverViolations = pd.read_excel(DD, 'Tables2', skiprows = 0, nrows=5,
                               usecols= 'A')
Tables2_driverViolations = Tables2_driverViolations.append(pd.read_excel(DD, 
                              'Tables2', skiprows = 4, nrows=1, header=None,
                               usecols= 'B:D'))

Tables2_safetyRestraint = pd.read_excel(DD, 'Tables2', skiprows = 0, nrows = 3, 
                                        usecols = 'B')

Tables2_driverLicense = pd.read_excel(DD, 'Tables2', skiprows = 0, nrows = 3, 
                                        usecols = 'C,D')

In [122]:
def flattenLists(inputListofLists):

  #print(inputListofLists)

  flattenedList = []

  for sublist in inputListofLists:
    flattenedList.append(sublist)
    
  #print(flattenedList)
  return flattenedList

In [127]:
Tables2_driverViolations

,DRIVER VIOLATIONS 1-6,1,2,3
0,0=None\n1=Manslaughter or homicide \n2=Willful...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,16=Driving with detectable alcohol \n18=Refusa...,NaN,NaN,NaN
3,41=Turn violation of traffic control (disobey ...,NaN,NaN,NaN
0,NaN,"58=Following too closely\n59=Wrong side, passi...",81=Lamp violation\n82=Brake violation\n83=Safe...,"\n87=Ice, Snow, Slush, Water, Sand, Dirt, Oil,..."

In [145]:
#Parse out the Driver Violations Numbering System
dataDict_Table2 = defaultdict(dict)                    #Build the Data Dictionary

#Tables2_driverViolations.columns
dataDict_Table2["Driver_Violations"]["DATA"] = {}

desc1 = None
desc2 = None
desc3 = None
desc4 = None

dv_flattenedList = []


for idx, series in Tables2_driverViolations.iterrows():   #Step through each var in turn
  
  desc1 = series['DRIVER VIOLATIONS 1-6']
  desc2 = series[1]
  desc3 = series[2]
  desc4 = series[3]

  dv_kvPairList1 = getKVPairs(desc1)                 #Get list (K,V) tuples for DATA
  dv_kvPairList2 = getKVPairs(desc2)                  #Var names changed to stop
  dv_kvPairList3 = getKVPairs(desc3)                  #X-contamination in Notebook
  dv_kvPairList4 = getKVPairs(desc4)

  dv_flattenedList += flattenLists(dv_kvPairList1)    #Flatten the lists into one
  dv_flattenedList += flattenLists(dv_kvPairList2)      #list of tuples
  dv_flattenedList += flattenLists(dv_kvPairList3)
  dv_flattenedList += flattenLists(dv_kvPairList4)


for tup in dv_flattenedList:                       #Populate the DataDict
  dataDict_Table2["Driver_Violations"]["DATA"][tup[0]] = tup[1]

In [142]:
#Parse out the Safety Restraint Data
dataDict_Table2["Safety_Restraint"]["DATA"] = {}
flattenedList = []

for idx, series in Tables2_safetyRestraint.iterrows(): 

  desc = series['SAFETY RESTRAINT USE']

  kvPairList = getKVPairs(desc)                 #Get list (K,V) tuples for DATA
  
  flattenedList += flattenLists(kvPairList)     #Flatten into a list of tuples
  
for tup in flattenedList:                       #Build the dictionary from tuples
  dataDict_Table2["Safety_Restraint"]["DATA"][tup[0]] = tup[1]

In [143]:
#Parse out the Driver License Origin Data:

dataDict_Table2["Driver_License_State"]["DATA"] = {}
flattenedList = []
desc1 = None
desc2 = None

for idx, series in Tables2_driverLicense.iterrows(): 

  desc1 = series['DRIVER LICENSE STATE']
  desc2 = series['Unnamed: 3']

  kvPairList1 = getKVPairs(desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairs(desc2)

  flattenedList += flattenLists(kvPairList1)     #Flatten into a list of tuples
  flattenedList += flattenLists(kvPairList2)

for tup in flattenedList:                       #Build the dictionary from tuples
  dataDict_Table2["Driver_License_State"]["DATA"][tup[0]] = tup[1]

In [146]:
#Create a JSON object of the Table2 Data
json_Table2 = json.dumps(dataDict_Table2, indent = 4)

In [152]:
#Extract the messy table data from the TABLES3 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables3_personRelatedFactors = pd.read_excel(DD, 'Tables3', skiprows = 0, nrows=100,
                               header = 0, usecols= 'A')
Tables3_criticalEvent = (pd.read_excel(DD, 'Tables3', skiprows = 1, nrows=65, 
                           usecols= 'E'))

In [155]:
#Parse out the PersonRelatedFactors Numbering System from Tables3
dataDict_Table3 = defaultdict(dict)                  #Build the Data Dictionary
                                                      #For all Table 3

dataDict_Table3["Person_Related_Factors"]["DATA"] = {}  #Create Keys for PRF
prf_flattenedList = []

for idx, series in Tables3_personRelatedFactors.iterrows(): 

  prf_desc = series['PERSON-RELATED FACTORS']

  kvPairList = getKVPairs(prf_desc)                 #Get list (K,V) tuples for DATA
  
  prf_flattenedList += flattenLists(kvPairList)     #Flatten into a list of tuples
  
for tup in prf_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table3["Person_Related_Factors"]["DATA"][tup[0]] = tup[1]

In [189]:
#Parse out the Critical Event Factor Numbering System from Tables3

dataDict_Table3["Critical_Event"]["DATA"] = {}  #Create Keys for PRF
ce_flattenedList = []

#print(Tables3_criticalEvent.columns)

for idx, series in Tables3_criticalEvent.iterrows(): 

  ce_desc = series['THIS VEHICLE LOSS OF CONTROL DUE TO: ']

  kvPairList = getKVPairsSpaceDelimited(ce_desc)
  #print(kvPairList)

  ce_flattenedList += flattenLists(kvPairList)

for tup in ce_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table3["Critical_Event"]["DATA"][tup[0]] = tup[1]  

  pass
  #print (series)

In [192]:
#Create a JSON object of the Table2 Data
json_Table3 = json.dumps(dataDict_Table3, indent = 4)

In [194]:
#Extract the messy table data from the TABLES4 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables4 = pd.read_excel(DD, 'Tables4')

Tables4

,CITY (Codes),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,10 ABERDEEN\n12 ACME\n15 ADDY\n17 ADNA\n19...,270 CASHMERE\n280 CASTLE ROCK \n290 CATHL...,545 EASTON\n555 EASTSOUND\n570 EAST WENATCH...,878 HADLOCK\n880 HAMILTON\n885 HANFORD\n887...,1192 LOOMIS\n1193 LOWDEN\n1194 LUMMI ISLAND...,1510 NORTH BONNEVILLE\n1512 NORTH \n1513 NO...,1854 RICHMOND\n HIGHLANDS\n1855 RICH...,2200 SUMAS\n2210 SUMNER\n2220 SUNNYSIDE\n22...,2562 WITHROW\n2565 WOODINVILLE\n2570 WOODLA...
1,135 BICKLETON\n140 BINGEN\n145 BIRCH BAY\n1...,460 COULEE \n465 COULEE DAM\n470 COUPEVILLE...,767 FORT WORDEN\n768 FOUR LAKES\n769 FOX IS...,1044 KEWA\n1045 KEYPORT\n1048 KINGSTON\n104...,1321 METHOW\n1322 MICA\n1336 MILAN\n1338 M...,1680 PE ELL\n1681 PINE \n1684 PLAZA\n1683 ...,2013 SILVER CREEK\n2012 SILVERDALE\n2015 SI...,2373 VASHON\n2374 VAUGHN\n2375 VERADALE\n238...,NaN
2,,NaN,NaN,\n\n\n \n,\n\n \n,\n,NaN,NaN,NaN
3,\n \n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,\,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
#Parse out the City Numbering System from Tables4
dataDict_Table4 = defaultdict(dict)                  #Build the Data Dictionary
                                                      #For all Table 4
dataDict_Table4["City"]["DATA"] = {}  #Create Keys for PRF
city_flattenedList = []

for idx, series in Tables4.iterrows(): 

  city_desc1 = series['CITY (Codes)']
  city_desc2 = series['Unnamed: 1']
  city_desc3 = series['Unnamed: 2']
  city_desc4 = series['Unnamed: 3']
  city_desc5 = series['Unnamed: 4']
  city_desc6 = series['Unnamed: 5']
  city_desc7 = series['Unnamed: 6']
  city_desc8 = series['Unnamed: 7']
  city_desc9 = series['Unnamed: 8']

  kvPairList1 = getKVPairsSpaceDelimited(city_desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairsSpaceDelimited(city_desc2)
  kvPairList3 = getKVPairsSpaceDelimited(city_desc3)
  kvPairList4 = getKVPairsSpaceDelimited(city_desc4)
  kvPairList5 = getKVPairsSpaceDelimited(city_desc5)
  kvPairList6 = getKVPairsSpaceDelimited(city_desc6)
  kvPairList7 = getKVPairsSpaceDelimited(city_desc7)
  kvPairList8 = getKVPairsSpaceDelimited(city_desc8)
  kvPairList9 = getKVPairsSpaceDelimited(city_desc9)


  city_flattenedList += flattenLists(kvPairList1)     #Flatten into a list of tuples
  city_flattenedList += flattenLists(kvPairList2)
  city_flattenedList += flattenLists(kvPairList3)
  city_flattenedList += flattenLists(kvPairList4)
  city_flattenedList += flattenLists(kvPairList5)
  city_flattenedList += flattenLists(kvPairList6)
  city_flattenedList += flattenLists(kvPairList7)
  city_flattenedList += flattenLists(kvPairList8)
  city_flattenedList += flattenLists(kvPairList9)

for tup in city_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table4["City"]["DATA"][tup[0]] = tup[1]

In [217]:
json_Table4 = json.dumps(dataDict_Table4, indent = 4)

In [228]:
#Extract the messy table data from the TABLES5 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables5 = pd.read_excel(DD, 'Tables5')

Tables5

,Vehicle MAKE,Unnamed: 1
0,1=American Motors\n2=Jeep/Kaiser-Jeep/\n W...,66=Mahindra (Since 2011)\n67=Scion (Since 2012...
1,39=Jaguar\n40=Lancia\n41=Mazda\n42=Mercedes-Be...,93 MCI\n94 Thomas Built\n97 Not Reported (Sinc...

In [231]:
#Parse out the Vehicle Make Numbering System from Tables5
dataDict_Table5 = defaultdict(dict)                  #Build the Data Dictionary
                                                      #For all Table 3

print(Tables5.columns)                                                      

dataDict_Table5["Vehicle_Make"]["DATA"] = {}  #Create Keys for VM
vm_flattenedList = []

for idx, series in Tables5.iterrows(): 

  vm_desc1 = series['Vehicle MAKE']
  vm_desc2 = series['Unnamed: 1']

  kvPairList1 = getKVPairs(vm_desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairs(vm_desc2)

  vm_flattenedList += flattenLists(kvPairList1)     #Flatten into a list of tuples
  vm_flattenedList += flattenLists(kvPairList2)

for tup in vm_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table5["Vehicle_Make"]["DATA"][tup[0]] = tup[1]

Index(['Vehicle MAKE', 'Unnamed: 1'], dtype='object')

In [233]:
json_Table5 = json.dumps(dataDict_Table5, indent = 4)

In [234]:
#Extract the messy table data from the TABLES6 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables6 = pd.read_excel(DD, 'Tables6')

Tables6

,CRASH TYPE (From 2010 on),Unnamed: 1,Unnamed: 2
0,0=No Impact \nCATEGORY I: SINGLE DRIVER \nCON...,39=This Vehicle Impacted by Frontal Area of An...,70=Initial Same Directions (Turning Right) \n7...
1,"\nCATEGORY II: SAME TRAFFICWAY, SAME DIRECTIO...",\nCONFIGURATION H: FORWARD IMPACT \n54=This V...,CATEGORY V: INTERSECTING PATHS (VEHICLE DAMAG...
2,\n\n,NaN,NaN

In [236]:
#Parse out the Crash Type Numbering System from Tables6
dataDict_Table6 = defaultdict(dict)                  #Build the Data Dictionary
                                                      #For all Table 3

print(Tables6.columns)                                                      

dataDict_Table6["Crash_Type"]["DATA"] = {}  #Create Keys for VM
ct_flattenedList = []

for idx, series in Tables6.iterrows(): 

  ct_desc1 = series['CRASH TYPE  (From 2010 on)']
  ct_desc2 = series['Unnamed: 1']
  ct_desc3 = series['Unnamed: 2']

  kvPairList1 = getKVPairs(ct_desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairs(ct_desc2)
  kvPairList2 = getKVPairs(ct_desc3)

  ct_flattenedList += flattenLists(kvPairList1)     #Flatten into a list of tuples
  ct_flattenedList += flattenLists(kvPairList2)
  ct_flattenedList += flattenLists(kvPairList3)

for tup in ct_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table6["Crash_Type"]["DATA"][tup[0]] = tup[1]

Index(['CRASH TYPE  (From 2010 on)', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')

In [239]:
json_Table6 = json.dumps(dataDict_Table6, indent = 4)

In [263]:
#Extract the messy table data from the TABLES7 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables7_driverRelatedFactors = pd.read_excel(DD, 'Tables7', skiprows = 0, nrows=6,
                               header = 0, usecols= 'A:C')

Tables7_nonMotoristLocation = pd.read_excel(DD, 'Tables7', skiprows = 0, nrows=3,
                               header = 0, usecols= 'D')

Tables7_nonMotoristLocation

                               NON-MOTORIST LOCATION
0  0=NOT a Non-Motorist (e.g., an MV occupant)\n1...
1  20=(since 2010) Shoulder/Roadside\n21=(since 2...
2                                                NaN

In [261]:
#Parse out the Driver Related Factors Numbering System from Tables7
dataDict_Table7 = defaultdict(dict)                  #Build the Data Dictionary
                                                      #For all Table 7

print(Tables7_driverRelatedFactors.columns)                                                      

dataDict_Table7["Driver_Related_Factors"]["DATA"] = {}  #Create Keys for VM
drf_flattenedList = []

for idx, series in Tables7_driverRelatedFactors.iterrows(): 

  drf_desc1 = series['DRIVER-RELATED FACTORS']
  drf_desc2 = series['Unnamed: 1']
  drf_desc3 = series['Unnamed: 2']

  kvPairList1 = getKVPairs(drf_desc1)                 #Get list (K,V) tuples for DATA
  kvPairList2 = getKVPairs(drf_desc2)
  kvPairList2 = getKVPairs(drf_desc3)

  drf_flattenedList += flattenLists(kvPairList1)     #Flatten into a list of tuples
  drf_flattenedList += flattenLists(kvPairList2)
  drf_flattenedList += flattenLists(kvPairList3)

for tup in drf_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table7["Driver_Related_Factors"]["DATA"][tup[0]] = tup[1]

Index(['DRIVER-RELATED FACTORS', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')

In [264]:
#Parse out the Driver Related Factors Numbering System from Tables7

print(Tables7_nonMotoristLocation.columns)                                                      

dataDict_Table7["Non_Motorist_Location"]["DATA"] = {}  #Create Keys for VM
nml_flattenedList = []

for idx, series in Tables7_nonMotoristLocation.iterrows(): 

  nml_desc1 = series['NON-MOTORIST LOCATION']


  kvPairList1 = getKVPairs(nml_desc1)                 #Get list (K,V) tuples for DATA

  nml_flattenedList += flattenLists(kvPairList1)     #Flatten into a list of tuples


for tup in nml_flattenedList:                       #Build the dictionary from tuples
  dataDict_Table7["Non_Motorist_Location"]["DATA"][tup[0]] = tup[1]

Index(['NON-MOTORIST LOCATION'], dtype='object')

In [266]:
json_Table7 = json.dumps(dataDict_Table7, indent = 4)

In [365]:
#Extract the messy table data from the TABLES8 Sheet 
  #(Manual inspection used to determine the cut points for the DFs)
Tables8_vehicleBodyType = pd.read_excel(DD, 'Tables8', skiprows = 0, nrows=4,
                               header = 0, usecols= 'A,B')

Tables8_vehicleFactors = pd.read_excel(DD, 'Tables8', skiprows = 0, nrows=4,
                               header = 0, usecols= 'C')

Tables8_vehicleManeuver = pd.read_excel(DD, 'Tables8', skiprows = 0, nrows=4,
                               header = 0, usecols= 'D')

Tables8_crashRelatedFactors = pd.read_excel(DD, 'Tables8', skiprows = 0, nrows=3,
                               header = 0, usecols= 'E')


Tables8_crashRelatedFactors

                               Crash Related Factors
0  00=None\n01=Inadequate Warning of Exits, Lanes...
1  14=Motor Vehicle Struck by Falling Cargo, or S...
2                                                NaN

In [368]:
#Parse out the Vehicle Body Type Numbering System from Tables8

dataDict_Table8 = defaultdict(dict)

print(Tables8_vehicleBodyType.columns)                                                      

dataDict_Table8["Vehicle_Body_Type"]["DATA"] = {}  #Create Keys for VM
ln_vbt_desc1 = []
ln_vbt_desc2 = []

for idx, series in Tables8_vehicleBodyType.iterrows(): 

  vbt_desc1 = series['VEHICLE BODY TYPE']
  vbt_desc2 = series['Unnamed: 1']
                                              #Split the cell into lines
  if type(vbt_desc1) != float:
    ln_vbt_desc1 += vbt_desc1.splitlines()  
  else:
    pass
  
  if type(vbt_desc2) != float:
    ln_vbt_desc2 += vbt_desc2.splitlines()
  else:
    pass

                                              #Get the KV Pairs & Update Dict
kvPairs1 = []
for ln in ln_vbt_desc1:
  if ln == "" or ln == " " or ln == None:
    continue
  else:
    if ln[0].isnumeric():
      p2 = ln.split("=")
      dataDict_Table8["Vehicle_Body_Type"]["DATA"][p2[0]] = p2[1]
    else:
      pass

kvPairs2 = []
for ln in ln_vbt_desc2:
  
  if ln == "" or ln == " " or ln == None:
    continue
  else:
    if ln[0].isnumeric():
      p2 = ln.split("=")
      dataDict_Table8["Vehicle_Body_Type"]["DATA"][p2[0]] = p2[1]
    else:
      pass
else:
  pass

Index(['VEHICLE BODY TYPE', 'Unnamed: 1'], dtype='object')

In [372]:
#Parse out the Vehicle Factors Numbering System from Tables8

print(Tables8_vehicleFactors.columns)                                                      

dataDict_Table8["Vehicle_Factors"]["DATA"] = {}  #Create Keys for VM
ln_vf_desc1 = []

for idx, series in Tables8_vehicleFactors.iterrows(): 

  vf_desc1 = series['VEHICLE FACTORS 1 & 2']

  if type(vf_desc1) != float:
    ln_vf_desc1 += vf_desc1.splitlines()  
  else:
    pass
  
kvPairs1 = []
for ln in ln_vf_desc1:
  if ln == "" or ln == " " or ln == None:
    continue
  else:
    if ln[0].isnumeric():
      p2 = ln.split("=")
      dataDict_Table8["Vehicle_Factors"]["DATA"][p2[0]] = p2[1]
    else:
      pass

Index(['VEHICLE FACTORS 1 & 2'], dtype='object')

In [374]:
#Parse out the Vehicle Maneuver Numbering System from Tables8

print(Tables8_vehicleManeuver.columns)                                                      

dataDict_Table8["Vehicle_Maneuver"]["DATA"] = {}  #Create Keys for VM
ln_vm_desc1 = []

for idx, series in Tables8_vehicleManeuver.iterrows(): 

  vm_desc1 = series['VEHICLE MANEUVER']

  if type(vm_desc1) != float:
    ln_vm_desc1 += vm_desc1.splitlines()  
  else:
    pass
  
kvPairs1 = []
for ln in ln_vm_desc1:
  if ln == "" or ln == " " or ln == None:
    continue
  else:
    if ln[0].isnumeric():
      p2 = ln.split("=")
      dataDict_Table8["Vehicle_Maneuver"]["DATA"][p2[0]] = p2[1]
    else:
      pass

Index(['VEHICLE MANEUVER'], dtype='object')

In [376]:
#Parse out the Vehicle Crash Related Factors Numbering System from Tables8

print(Tables8_crashRelatedFactors.columns)                                                      

dataDict_Table8["Vehicle_Crash_Related_Factors"]["DATA"] = {}  #Create Keys for VM
ln_vcrf_desc1 = []

for idx, series in Tables8_crashRelatedFactors.iterrows(): 

  vcrf_desc1 = series['Crash Related Factors']

  if type(vcrf_desc1) != float:
    ln_vcrf_desc1 += vcrf_desc1.splitlines()  
  else:
    pass
  
kvPairs1 = []
for ln in ln_vcrf_desc1:
  if ln == "" or ln == " " or ln == None:
    continue
  else:
    if ln[0].isnumeric():
      p2 = ln.split("=")
      dataDict_Table8["Vehicle_Crash_Related_Factors"]["DATA"][p2[0]] = p2[1]
    else:
      pass

Index(['Crash Related Factors'], dtype='object')

In [377]:
json_Table8 = json.dumps(dataDict_Table8, indent = 4) 

print(json_Table8)

{
    "Vehicle_Body_Type": {
        "DATA": {
            "1": "Convertible (excludes sun-roof, t-bar) ",
            "2": "2-Door Sedan, Hardtop, Coupe ",
            "3": "3-Door/2-Door Hatchback ",
            "4": "4-Door Sedan, Hardtop ",
            "5": "5-Door/4-Door Hatchback ",
            "6": "Station Wagon (excluding van and truck based) ",
            "7": "Hatchback, Number of Doors Unknown ",
            "17": "3-Door Coupe ",
            "8": "Sedan/Hardtop, number of doors unknown ",
            "9": "Other or Unknown automobile type ",
            "10": "Auto-Based Pickup (e.g., Chevy El Camino, ",
            "11": "Auto-Based Panel (e.g.,Cargo Wagon,  Hearse,",
            "12": "Large Limousine (> 4 side doors, or stretched ",
            "13": "Three-Wheel Auto or Auto- Derived ",
            "14": "Small/Midsize SUV",
            "15": "Full/Large SUV: F-Acura MDX, Buick Enclave, ",
            "16": "Utility wagon, e.g., limousine, Cadillac Escalade",
            "19": "Utility Vehicle, Unknown Body",
            "20": "Minivan (e.g., Chevy Astro, Chrysler Town&Country, Dodge Caravan, Ford Windstar, GMC Safari, Honda Odyssey, etc.",
            "21": "Large Van/Van-based Bus (e.g., Sportsman, ",
            "22": "Step/Walk-in van ",
            "28": "Other van type (Hi-Cube Van, Kary) ",
            "29": "Unknown van type  ",
            "30": "Compact pickup (GVWR<",
            "31": "Standard pickup (GVWR 4500-10000 lbs.), e.g.,",
            "32": "P/U w/ slide-in camper ",
            "33": "Convertible P/U",
            "34": "Light Pickup (since 2017)",
            "39": "Unknown light truck type ",
            "40": "Cab Chassis-Based (e.g., Rescue Vehicle, Light",
            "41": "Truck-Based Panel ",
            "45": "Other light conventional truck type ",
            "48": "Unknown light truck type ",
            "49": "Unknown light vehicle (auto, SUV, van, ",
            "50": "School Bus ",
            "51": "Cross Country/Intercity Bus ",
            "52": "Transit Bus (City Bus) ",
            "55": "Van-Based Bus (GVWR>10000 lbs.) ",
            "58": "Other Bus Type ",
            "59": "Unknown Bus Type",
            "60": "Step Van (>10000 lbs. GVWR) ",
            "61": "Single-unit straight/Cab-Chassis (10000 lbs.<GVWR<",
            "62": "Single-unit straight/Cab-Chassis (19500 lbs.<GVWR<",
            "63": "Single-unit straight or Cab-Chassis (GVWR > 26,000 lbs.) ",
            "64": "Single-unit straight or Cab-Chassis (GVWR unknown) ",
            "66": "Truck-tractor (Cab only or any # of trailers/any weight) ",
            "67": "Medium/heavy P/U>10000 lbs. GVWR ",
            "71": "Unknown unit or combination (10000 lbs.<GVWR<26,000 lbs.) ",
            "72": "Unknown unit/combination GVWR>26,000 lbs.",
            "78": "Unknown medium/heavy truck type ",
            "79": "Unknown truck (light/medium/heavy) ",
            "42": "Lt-Truck based MH (Chassis Mounted)  ",
            "65": "Med/heavy truck-based MH",
            "73": "Camper/MH, unknown type ",
            "80": "Two-wheeled Motorcycle (exc scooters) ",
            "81": "Moped or motorized bicycle ",
            "82": "Three-wheel Motorcycle (2 rear wheels)",
            "83": "Off-road Motorcycle ",
            "84": "Motor Scooter (since 2017)",
            "85": "Unenclosed Three-wheel Motorcycle/ Unenclosed Autocycle (1 rear wheel) (Since 2017)",
            "86": "Enclosed three-wheel Motorcycle/ Enclosed Autocycle (1 rear wheel) (since 2017)",
            "87": "Unknown three-wheel Motorcycle Type (since 2017)",
            "88": "Other motored cycle (e.g.,mini-bike, pocket MC)",
            "89": "Unknown motored cycle type",
            "90": "ATV/ATC (All-Terrain Cycle)",
            "91": "Snowmobile",
            "92": "Farm equipment (non-truck) ",
            "93": "Construction equipment (non-truck) ",
            "94": "Low Speed Vehicle (LSV)/Neighborhood",
            "95": "Golf Cart  ",
            "96": "Recreational Off-Highway Vehicle (since 2017)",
            "97": "Other vehicle e.g.,go-cart, fork-lift, street",
            "98": "Not Reported",
            "99": "Unknown type",
            "128": "Ambulance (since2021)",
            "129": "Street Sweeper (since 2021)",
            "130": "Fire Apparatus (since 2021)"
        }
    },
    "Vehicle_Factors": {
        "DATA": {
            "00": "None",
            "01": "Tires (excludes Wheels - see 16)",
            "02": "Brake System ",
            "03": "Steering System ",
            "04": "Suspension ",
            "05": "Power Train (2001-2009 only)",
            "06": "Exhaust System",
            "07": "Headlights",
            "08": "Signal Lights  ",
            "09": "Other Lights  ",
            "10": "Horn",
            "11": "Mirrors",
            "12": "Wipers",
            "13": "Driver Seat/Control",
            "14": "Body, Doors, Hood, Other",
            "15": "Trailer Hitch",
            "16": "Wheels ",
            "17": "Air Bag (1995-2009 only) ",
            "18": "Other Vehicle Defects",
            "19": "Safety Belts (2002-2009 only) ",
            "30": "3-Wheel MC Convert (since 2012)",
            "31": "Hit-and-Run Vehicle (through 2008)",
            "32": "Vehicle Registration for a Person with a Disability (since 2021) ",
            "33": "Vehicle Pushed by Non-Motorist",
            "34": "Vehicle Impact resulted from some-",
            "35": "Reconstructed/Altered Vehicle",
            "36": "Electric/Alternative Fuel",
            "37": "Transporting Children To/From ",
            "39": "Highway Construction, Utility or",
            "40": "Highway Incident Response (since",
            "41": "Police, Fire, or EMS Vehicle at an ",
            "42": "Other Working Vehicle ",
            "43": "Hazardous Cargo Released from this Vehicle (2005-2006 only)",
            "44": "Adaptive Equipment (since 2007)",
            "45 ": " Slide in Camper (since 2018)",
            "99": "Unknown"
        }
    },
    "Vehicle_Maneuver": {
        "DATA": {
            "01": "Going Straight",
            "02": "Slowing or Stopping in Traffic Lane",
            "03": "Starting in Traffic Lane",
            "04": "Stopped in Traffic Lane",
            "05": "Passing or Overtaking another Vehicle",
            "06": "Leaving a Parked Position",
            "07": "Parked",
            "08": "Entering a Parked Position",
            "09": "Maneuvering to Avoid",
            "10": "Turning Right: Right Turn on Red Permitted",
            "11": "Turning Right: Right Turn on Red Not Permitted",
            "12": "Turning Right: Right Turn on Red Not Applicable or Not Known if Permitted",
            "13": "Turning Left",
            "14": "Making a U-Turn",
            "15": "Backing Up (Not Parking)",
            "16": "Changing Lanes or Merging",
            "17": "Negotiating a Curve",
            "98": "Other",
            "99": "Unknown"
        }
    },
    "Vehicle_Crash_Related_Factors": {
        "DATA": {
            "00": "None",
            "01": "Inadequate Warning of Exits, Lanes Narrowing, Traffic Controls, etc.",
            "02": "Shoulder Design or Condition",
            "03": "Other Maintenance or Construction-Created Condition",
            "04": "No or Obscured Pavement Marking",
            "05": "Surface Under Water",
            "06": "Inadequate Construction or Poor Design of Roadway, Bridge, etc.",
            "07": "Surface Washed Out (caved-in, road slippage)",
            "10": "Emergency Vehicle Related (since 2021)",
            "12": "Distracted Driver of a Non-Contact Vehicle",
            "13": "Aggressive Driving/Road Rage by Non-Contact Vehicle Driver",
            "14": "Motor Vehicle Struck by Falling Cargo, or Something That Came Loose from, or Something That was Set in Motion by a Vehicle.",
            "15": "Non-Occupant Struck by Falling Cargo, or Something That Came Loose from, or Something that was Set in Motion by a Vehicle",
            "16": "Non-Occupant Struck Vehicle",
            "17": "Vehicle Set in Motion by Non-Driver",
            "18": "Date of Crash and Date of EMS Notification Were Not the Same Day",
            "20": "Police Pursuit Involved",
            "21": "Within Designated School Zone",
            "22": "Speed Limit is a Statutory Limit as Recorded or was Determined as This State\u2019s \u201cBasic Rule\u201d",
            "23": "Indication of a Stalled/Disabled Vehicle",
            "24": "Unstabilized Situation Began and All Harmful Events Occurred Off of the Roadway",
            "28": "Regular Congestion",
            "19": "Recent Previous Crash Scene Nearby",
            "27": "Backup Due to Prior Crash",
            "26": "Prior Non-Recurring Incident",
            "25": "Toll Booth/Plaza Related",
            "30": "Obstructed Crosswalks",
            "31": "Related to a Bus Stop",
            "99": "Reported as Unknown"
        }
    }
}