IMPORTS

In [37]:
from google.colab import drive
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np

LOADING DATA

In [ ]:
drive.mount('/content/gdrive')
%cd gdrive/My Drive/Colab Notebooks/IC23/

In [ ]:
#! git clone https://github.com/osullik/ic23050.git
#! git pull

Cloning into 'ic23050'...
fatal: could not read Username for 'https://github.com': No such device or address
fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

In [3]:
orig_data = pd.read_csv("https://raw.githubusercontent.com/osullik/ic23050/main/L4%20Washington%20Fatal%20Crash%20Files%20-%20Washington%20Traffic%20Safety%20Commission/Data_Washington%20Fatal%20Crash%20Survey.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (21,22,23,301,303) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
orig_data.head()

,year,case,par,repjur,crash_dt,crash_tm,accday,accmon,holiday,county,...,nmdistract6,lab,isedtcase,crf1,crf2,crf3,CoRoadName,CoMP,IntCoRoadName,IntCoMP
0,2017,1,E628946,2.0,01/01/2017,2:12,1,1,1.0,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,2,E627989,26.0,01/02/2017,17:14,2,1,1.0,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,4,3747633,263.0,01/01/2017,18:47,1,1,1.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,5,E628691,4.0,01/01/2017,3:50,1,1,1.0,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,6,3746306,263.0,01/05/2017,9:53,5,1,0.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

REVERSE GEOCODING

In [11]:
locator = Nominatim(user_agent="myGeocoder")

In [20]:
# Input: lat and long coordinates
# Output: dictionary containing 'address' -> 'postcode' and other address fields
def reverse_geo(x, y):
  try:
    return locator.reverse((x,y)).raw
  except ValueError:
    print(x, y)

In [41]:
# Input: geo dictionary
# Output: zipcode
def get_zipcode(geodict):
  try:
    return geodict['address']['postcode']
  except KeyError:
    return np.nan

In [13]:
#x, y = 40.7128, -74.0060
#reverse_geo(x, y)

{'place_id': 226179173,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 575213527,
 'lat': '40.71273945',
 'lon': '-74.00593904130275',
 'display_name': 'New York City Hall, 260, Broadway, Lower Manhattan, Manhattan Community Board 1, Manhattan, New York County, City of New York, New York, 10000, United States',
 'address': {'amenity': 'New York City Hall',
  'house_number': '260',
  'road': 'Broadway',
  'quarter': 'Lower Manhattan',
  'neighbourhood': 'Manhattan Community Board 1',
  'suburb': 'Manhattan',
  'county': 'New York County',
  'city': 'City of New York',
  'state': 'New York',
  'ISO3166-2-lvl4': 'US-NY',
  'postcode': '10000',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['40.712445', '40.7130254', '-74.0064455', '-74.0055687']}

In [43]:
orig_data['zipcode'] = orig_data.apply(lambda row: get_zipcode(reverse_geo(row['y'], row['x'])), axis=1)

In [51]:
orig_data.to_csv('/content/gdrive/My Drive/Colab Notebooks/IC23/Data_Washington_Fatal_Crash_Survey_with_zip.csv')